<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adryde.mobile.displaysdk"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" android:required="true" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" android:required="true" />

    <application>
        <activity android:name="SharingMedia"
            android:theme="@style/AppTheme"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="ScannerQRActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <receiver android:name="Notificationreceiver"/>
    </application>

</manifest>